<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap/dist/css/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/Ionicons/css/ionicons.min.css")
    @Styles.Render("~/Content/dist/css/AdminLTE_.min.css")
    @Styles.Render("~/Content/dist/css/skins/_all-skins.min.css")
    @Styles.Render("~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")
    @Scripts.Render("~/Scripts/build/js/interact.js")
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <header class="main-header">

            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                @*<a href="ManageCusID" class="logo">*@
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>CC</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Acc</b>ounting Online</span>
            </a>

            <!-- Header Navbar-->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                @*<h4 style="text-align:center"><font color="White"><b>test</b></font></h4>*@
            </nav>
        </header>
        <!------------------------- sidebar menu------------------------------>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Menu</li>
                    @*Enterprise Manager*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i><span>การจัดการข้อมูลองค์กร</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            @*General Setup*@
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i><span>การจัดการข้อมูลทั่วไป</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("ManageCompanyProfile", "ManageCompanyProfile")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขข้อมูลบริษัท</a></li>
                                    <li><a href="@Url.Action("ManageBranch", "ManageBranch")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสสาขา</a></li>
                                    <li><a href="@Url.Action("ManageDepart", "QsoftDepart")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสฝ่าย</a></li>
                                    <li><a href="@Url.Action("ManageBaddEditSec", "ManageBaddEditSec")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสแผนก</a></li>
                                    <li><a href="@Url.Action("ManageFactory", "Factory")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรายชื่อโรงงาน</a></li>
                                    <li> <a href="@Url.Action("ManageExpn", "Expn")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสรายได้</a></li>
                                    <li><a href="@Url.Action("ManageExch", "Exch")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสค่าใช้จ่าย</a></li>
                                    @*<li><a href="..."><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขเล่มที่</a></li>
                                    <li><a href="GeneralOption.aspx"><i class="fa fa-circle-o"></i>General Option</a></li>*@
                                    <li><a href="@Url.Action("ManageCauseOfReductionDebt", "ManageCauseOfReductionDebt")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสสาเหตุลดหนี้/เพิ่มหนี้</a></li>
                                    @*<li><a href="..."><i class="fa fa-circle-o"></i>Generate ประเภทธุรกิจ</a></li>
                                    <li><a href="GenDefindCurrencyCode.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสสกุลเงิน</a></li>
                                    <li><a href="GenDefindExchangeRateCode.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสประเภทอัตราแลกเปลี่ยน</a></li>
                                    <li><a href="DefindExchangeRate.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขอัตราแลกเปลี่ยนเงินตรา</a></li>
                                    <li><a href="GeneralOption.aspx"><i class="fa fa-circle-o"></i>PC Option</a></li>*@
                                </ul>
                            </li>
                            @*AP Setup*@
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i><span>การจัดการข้อมูลเจ้าหนี้</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("ManageSupplier", "ManageSupplier")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสเจ้าหนี้</a></li>
                                    <li><a href="@Url.Action("ManageSupplierType", "ManageSupplierType")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสประเภทเจ้าหนี้</a></li>
                                    <li><a href="@Url.Action("ManageGroupSupplier", "GroupSupplier")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสกลุ่มเจ้าหนี้</a></li>
                                    <li><a href="@Url.Action("ManageReceivePlace", "ReceivePlace")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสรหัสสถานที่รับของ</a></li>
                                    <li><a href="APoption.aspx"><i class="fa fa-circle-o"></i>AP Option</a></li>
                                    <li><a href="CreditLimitAPS.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขวงเงินการอนุมัติสั่งซื้อ</a></li>
                                </ul>
                            </li>
                            @*AR Setup*@
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i><span>การจัดการข้อมูลลูกหนี้</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("ManageCustomer", "ManageCustomer")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสลูกหนี้</a></li>
                                    @*<li><a href="@Url.Action("ManageBusinessType", "MasterData")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสประเภทธุรกิจ</a></li>*@

                                    @*<li><a href="ARSDefineCustomerTypeCode.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสประเภทลูกหนี้</a></li>*@
                                    <li><a href="@Url.Action("ManageGroupCustomer", "GroupCustomer")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสกลุ่มลูกหนี้</a></li>
                                    <li><a href="@Url.Action("ManageCustomerZone", "CustomerZone")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขเขตลูกหนี้</a></li>
                                    @*<li><a href="@Url.Action("ManageBillGrp", "MasterData")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสกลุ่มวางบิล</a></li>*@
                                    @*<li><a href="ARSCreditTemporary.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขวงเงินชั่วคราว</a></li>
                                    <li><a href="ARSDefineCustomerPriority.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสความสำคัญลูกหนี้</a></li>
                                    <li><a href="ARSOption.aspx"><i class="fa fa-circle-o"></i>AR Option</a></li>
                                    <li><a href="ARSDefineCreditPeriodByDept.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขระยะเวลาเครดิตตามแผนก</a></li>*@
                                    @*<li><a href="@Url.Action("ManageCustMedia", "MasterData")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสแหล่งข้อมูลลูกค้า</a></li>*@
                                </ul>
                            </li>
                            @*CQ Setup*@
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i><span>การจัดการข้อมูลธนาคาร</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="CQSDefineBankCode.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสธนาคาร</a></li>
                                    <li><a href="@Url.Action("ManageBankBrach", "BankBrach")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสสาขาธนาคาร</a></li>
                                    <li><a href="@Url.Action("ManageBankBookType", "BankBookType")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสประเภทสมุดเงินฝาก</a></li>
                                    <li><a href="CQSDefindChequeFormat.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรูปแบบเช็ค</a></li>
                                    <li><a href="CQSOption.aspx"><i class="fa fa-circle-o"></i>CQ Option</a></li>
                                    <li><a href="CQSPayInPayOut.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรูปแบบใบฝาก-ถอน</a></li>
                                </ul>
                            </li>
                            @*GL Setup*@
                            @*<li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-table"></i><span>GL Setup</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="GLDefineJournalBook.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสสมุดรายวัน</a></li>
                                        <li><a href="GLDefineAccount.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสบัญชี</a></li>
                                        <li><a href="GLDefineConsolidateAccountCode.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสบัญชีรวม</a></li>
                                        <li><a href="GLDefineAccountType.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสประเภทบัญชี</a></li>
                                        <li><a href="GLDefineGLDocumentNo.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขเลขที่เอกสาร GL</a></li>
                                        <li><a href="GLOption.aspx"><i class="fa fa-circle-o"></i>GL Option</a></li>
                                        <li><a href="GLSLinkGL.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขเอกสารเชื่อม GL</a></li>
                                        <li><a href="GLSDefindCusConAccCode.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสบัญชีรวมลูกหนี้</a></li>
                                        <li><a href="GLSDefindVenderCon.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสบัญชีรวมเจ้าหนี้</a></li>
                                        <li><a href="GLSDefindGoodsCon.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสบัญชีรวมสินค้า</a></li>
                                    </ul>
                                </li>*@
                            @*IC Setup*@
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i><span>การจัดการข้อมูลคลังสินค้า</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("ManageProduct_IC", "ManageProduct")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรายการสินค้า/วัตถุดิบ</a></li>
                                    <li><a href="@Url.Action("ManageICProductGroup", "ManageICProductGroup")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขกลุ่มสินค้า/และวัตถุดิบ</a></li>
                                    @*<li><a href="@Url.Action("ManageICProductGroupII", "ManageICProductGroupII")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขกลุ่มสินค้า/และวัตถุดิบ 2</a></li>
                                    <li><a href="@Url.Action("ManageICProductGroupIII", "ManageICProductGroupIII")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขกลุ่มสินค้า/และวัตถุดิบ 3</a></li>
                                    <li><a href="@Url.Action("ManageICProductGroupIX", "ManageICProductGroupIX")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขกลุ่มสินค้า/และวัตถุดิบ 4</a></li>
                                    <li><a href="@Url.Action("ManageICProductGroupX", "ManageICProductGroupX")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขกลุ่มสินค้า/และวัตถุดิบ 5</a></li>*@
                                    <li><a href="@Url.Action("ManageICUnit", "ManageICUnit")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขหน่วยนับ</a></li>
                                    <li><a href="@Url.Action("ManageICdbStock", "ManageICdbStock")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขคลังสินค้า/วัตถุดิบ</a></li>
                                   @* <li><a href="@Url.Action("ReOrderSafetyEOQ", "ReOrderSafetyEOQ")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขReroder Point.Safety Stock.E.O.Q</a></li>*@
                                    <li><a href="@Url.Action("ManageBaddEditScrap", "ManageBaddEditScrap")"><i class="fa fa-circle-o"></i>ข้อมูลสาเหตุของเสีย</a></li>
                                    @*<li><a href="@Url.Action("ManageCunitCurrency", "ManageCunitCurrency")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขสกุลเงินต่างประเทศ</a></li>*@
                                    <li><a href="AddEditDocumentNumberIC.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขเลขที่เล่มเอกสาร</a></li>
                                </ul>
                            </li>
                            @*CRM Setup*@
                            @*<li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-table"></i><span>CRM Setup</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="SetupGeneralCurrency.aspx"><i class="fa fa-circle-o"></i>Currency</a></li>
                                        <li><a href="SetupGeneralExchangeRate.aspx"><i class="fa fa-circle-o"></i>Exchange Rate</a></li>
                                        <li><a href="SetupGeneralFacilityGroup.aspx"><i class="fa fa-circle-o"></i>Facility Group</a></li>
                                        <li><a href="SetupGeneralFacilities.aspx"><i class="fa fa-circle-o"></i>Facilities</a></li>
                                        <li><a href="SetupGeneralValueAddedTax.aspx"><i class="fa fa-circle-o"></i>Value Added Tax</a></li>
                                        <li><a href="SetupGeneralPeriod.aspx"><i class="fa fa-circle-o"></i>Period</a></li>
                                        <li><a href="SetupGeneralOption.aspx"><i class="fa fa-circle-o"></i>General Option</a></li>
                                        <li><a href="SetupGeneralBigDeal.aspx"><i class="fa fa-circle-o"></i>Big Deals</a></li>
                                        <li><a href="SetupGeneralDuplicateRule.aspx"><i class="fa fa-circle-o"></i>Duplicate Rule</a></li>
                                        <li><a href="SetupSaleJob.aspx"><i class="fa fa-circle-o"></i>Jobs</a></li>
                                        <li><a href="SetupSaleLeadSource.aspx"><i class="fa fa-circle-o"></i>Leads Source</a></li>
                                        <li><a href="SetupSaleQueues.aspx"><i class="fa fa-circle-o"></i>Queues</a></li>
                                        <li><a href="SetupSaleOpportunityStage.aspx"><i class="fa fa-circle-o"></i>Opportunity Stages</a></li>
                                        <li><a href="SetupSaleSalesTeam.aspx"><i class="fa fa-circle-o"></i>Sale Teams</a></li>
                                        <li><a href="SetupSaleTerritory.aspx"><i class="fa fa-circle-o"></i>Territories</a></li>
                                        <li><a href="SetupSaleSalesProcess.aspx"><i class="fa fa-circle-o"></i>Sales Process</a></li>
                                        <li><a href="SetupSaleQuotaAmount.aspx"><i class="fa fa-circle-o"></i>Quota Amount</a></li>
                                        <li><a href="SetupSaleQuotaQuantity.aspx"><i class="fa fa-circle-o"></i>Quota Quantity</a></li>
                                        <li><a href="SetupSalePartnerCompetitor.aspx"><i class="fa fa-circle-o"></i>Partners/Competitors</a></li>
                                        <li><a href="LeadsCRM.aspx"><i class="fa fa-circle-o"></i>Leads</a></li>
                                        <li><a href="SaleContacts.aspx"><i class="fa fa-circle-o"></i>Contacts</a></li>
                                        <li><a href="SaleAccount.aspx"><i class="fa fa-circle-o"></i>Accounts</a></li>
                                        <li><a href="SaleOpportunity.aspx"><i class="fa fa-circle-o"></i>Opportunities</a></li>
                                        <li><a href="SaleQuotation.aspx"><i class="fa fa-circle-o"></i>Quotations</a></li>
                                        <li><a href="SaleContactOrder.aspx"><i class="fa fa-circle-o"></i>Orders</a></li>
                                        <li><a href="SaleShipment.aspx"><i class="fa fa-circle-o"></i>Shipments</a></li>
                                        <li><a href="SaleInvoice.aspx"><i class="fa fa-circle-o"></i>Invoices</a></li>
                                        <li><a href="SaleCreditNote.aspx"><i class="fa fa-circle-o"></i>Credit Notes</a></li>
                                    </ul>
                                </li>*@
                            @*SO Setup*@
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i><span>การจัดการข้อมูลการขาย</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">             
                                    <li><a href="@Url.Action("ManageEmployee", "ManageEmployee")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสพนักงาน</a></li>
                                    @*<li><a href="@Url.Action("ManageSaleArea", "MasterData")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสเขตการขาย</a></li>*@
                                    <li><a href="@Url.Action("ManageEmployeeGroup", "EmployeeGroup")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสกลุ่มพนักงาน</a></li>
                                   @* <li><a href="@Url.Action("ManageChannel", "MasterData")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสช่องทางการขาย</a></li>*@
                                    <li><a href="@Url.Action("ManageTransportasionArea", "ManageTransportasionArea")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสเขตการขนส่ง</a></li>
                                    <li><a href="CreditLimitEMSO.aspx"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขผู้อนุมัติวงเงินเครดิต</a></li>
                                    <li><a href="ApproveCreditEMSO.aspx"><i class="fa fa-circle-o"></i>อนุมัติวงเงินเครดิต</a></li>
                                </ul>
                            </li>
                            @*Tax Setup*@
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i><span>การจัดการข้อมูลภาษี</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("ManageVATGroup", "VatGroup")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขรหัสกลุ่มภาษี</a></li>
                                    <li><a href="@Url.Action("ManageVatDes", "VatDes")"><i class="fa fa-circle-o"></i>เพิ่ม/แก้ไขคำอธิบาย VAT</a></li>
                                    <li><a href="TaxVatOption.aspx"><i class="fa fa-circle-o"></i>Vat Option</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    @*Sale Order*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-pie-chart"></i>
                            <span>การบันทึกขายสินค้า</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("ManageSaleOrder", "SOSaleOrder")"><i class="fa fa-circle-o"></i>ใบสั่งขาย</a></li>
                            <li><a href="@Url.Action("ManageDeliveryOrder", "ManageDeliveryOrder")"><i class="fa fa-circle-o"></i>ใบส่งสินค้า</a></li>
                            @*<li><a href="recieveDepositSO.aspx"><i class="fa fa-circle-o"></i>รับเงินมัดจำ</a></li>
                            <li><a href="creditDepositSO.aspx"><i class="fa fa-circle-o"></i>รับเงินมัดจำเครดิต</a></li>
                            <li><a href="CashSale.aspx"><i class="fa fa-circle-o"></i>ขายสด</a></li>
                            <li><a href="creditSaleSO.aspx"><i class="fa fa-circle-o"></i>ขายเชื่อ</a></li>
                            <li><a href="CreditNoteSO.aspx"><i class="fa fa-circle-o"></i>รับคืน,ลด</a></li>
                            <li><a href="CreditNoteCashSO.aspx"><i class="fa fa-circle-o"></i>รับคืน,ลดหนี้(เงินสด)</a></li>
                            <li><a href="DebitNoteSO.aspx"><i class="fa fa-circle-o"></i>เพิ่มหนี้</a></li>
                            <li><a href="ExImSO.aspx"><i class="fa fa-circle-o"></i>SO Export/Import</a></li>*@
                        </ul>
                    </li>
                    @*Purchase Order*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>การบันทึกซื้อสินค้า</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("ManagePO_GoodsReceivedNote", "ManagePO_GoodsReceivedNote")"><i class="fa fa-circle-o"></i>ใบขอซื้อ</a></li>
                            <li><a href="@Url.Action("ManagePReq", "PReq")"><i class="fa fa-circle-o"></i>ใบสั่งซื้อ</a></li>
                            <li><a href="ApprovePO.aspx"><i class="fa fa-circle-o"></i>อนุมัติใบสั่งซื้อ</a></li>
                            @*<li><a href="PaymentDepositPO.aspx"><i class="fa fa-circle-o"></i>จ่ายเงินมัดจำ</a></li>
                             <li><a href="creditDepositPO.aspx"><i class="fa fa-circle-o"></i>จ่ายเงินมัดจำเครดิต</a></li>
                             <li><a href="creditDepositPO.aspx"><i class="fa fa-circle-o"></i>ซื้อสด</a></li>
                             <li><a href="CreditPurchasePO.aspx"><i class="fa fa-circle-o"></i>ซื้อเชื่อ</a></li>
                             <li><a href="CreditNotePO.aspx"><i class="fa fa-circle-o"></i>ส่งคืน,ลดหนี้</a></li>
                             <li><a href="CreditNote_CashPO.aspx"><i class="fa fa-circle-o"></i>ส่งคืน,ลดหนี้(เงินสด)</a></li>
                             <li><a href="DebitNotePO.aspx"><i class="fa fa-circle-o"></i>เพิ่มหนี้</a></li>
                             <li><a href="Landed_CostPO.aspx"><i class="fa fa-circle-o"></i>Landed Cost</a></li>
                             <li><a href="PO_Export_Import.aspx"><i class="fa fa-circle-o"></i>PO Export/Import</a></li>*@
                        </ul>
                    </li>
                    @*Accounts Receivable*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i><span>บัญชีลูกหนี้</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="AccountReceivableAR.aspx"><i class="fa fa-circle-o"></i>ลูกหนี้ยกมา</a></li>
                            <li><a href="CreditSaleNonStockAR.aspx"><i class="fa fa-circle-o"></i>ตั้งลูกหนี้อื่น ๆ</a></li>
                            <li><a href="BillingIssueAR.aspx"><i class="fa fa-circle-o"></i>ใบวางบิล</a></li>
                            <li><a href="Pre-Receipts.aspx"><i class="fa fa-circle-o"></i>ใบเสร็จรับเงิน(ก่อนรับเงิน)</a></li>
                            <li><a href="ReceivableCollectionAR.aspx"><i class="fa fa-circle-o"></i>รับชำระลูกหนี้</a></li>
                            <li><a href="CustomerControlAR.aspx"><i class="fa fa-circle-o"></i>ติดตามหนี้</a></li>
                            <li><a href="BlackListAR.aspx"><i class="fa fa-circle-o"></i>BlackList</a></li>
                            <li><a href="CancelBlacklistAR.aspx"><i class="fa fa-circle-o"></i>Cancel Blacklist</a></li>
                            <li><a href="GenerateBillingAR.aspx"><i class="fa fa-circle-o"></i>Generate ใบวางบิล</a></li>
                            <li><a href="NettingAR.aspx"><i class="fa fa-circle-o"></i>ตัดลูกหนี้/เจ้าหนี้ค้างชำระ</a></li>
                            <li><a href="ExImAR.aspx"><i class="fa fa-circle-o"></i>AR Export/Import</a></li>
                        </ul>
                    </li>
                    @*Accounts Payable*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i><span>บัญชีเจ้าหนี้</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="BeginningBalanceAP.aspx"><i class="fa fa-circle-o"></i>เจ้าหนี้ยกมา</a></li>
                            <li><a href="CreditNonStockAP.aspx"><i class="fa fa-circle-o"></i>ตั้งเจ้าหนี้</a></li>
                            <li><a href="BillAcceptanceAP.aspx"><i class="fa fa-circle-o"></i>ใบรับวางบิล</a></li>
                            <li><a href="PrePaymentsAP.aspx"><i class="fa fa-circle-o"></i>Pre-Payments</a></li>
                            <li><a href="PaymentAP.aspx"><i class="fa fa-circle-o"></i>จ่ายชำระหนี้</a></li>
                            <li><a href="PaymentAP.aspx"><i class="fa fa-circle-o"></i>Bank Net</a></li>
                            <li><a href="ClearBankNetAP.aspx"><i class="fa fa-circle-o"></i>Clear BankNet</a></li>
                            <li><a href="index2.html"><i class="fa fa-circle-o"></i>Cancel Blacklist</a></li>
                            <li><a href="ClearBankNetAP.aspx"><i class="fa fa-circle-o"></i>AP Export/Import</a></li>
                        </ul>
                    </li>
                    @*CQ Received Adjustments*@
                    @*<li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i><span>CQ Received Adjustments</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="CQChequesReceived.aspx"><i class="fa fa-circle-o"></i>เช็ครับ</a></li>
                                <li><a href="CQDiscount.aspx"><i class="fa fa-circle-o"></i>ขายลดเช็ค</a></li>
                                <li><a href="CQPayIn.aspx"><i class="fa fa-circle-o"></i>ฝากเช็ครับ</a></li>
                                <li><a href="CQHonor.aspx"><i class="fa fa-circle-o"></i>เช็ครับผ่าน</a></li>
                                <li><a href="CQReturn.aspx"><i class="fa fa-circle-o"></i>เช็ครับคืน</a></li>
                                <li><a href="CQCancel.aspx"><i class="fa fa-circle-o"></i>ยกเลิกเช็ครับ</a></li>
                                <li><a href="CQChequeChange.aspx"><i class="fa fa-circle-o"></i>เปลี่ยนเช็ครับ</a></li>
                            </ul>
                        </li>*@

                </ul>
            </section>
        </aside>
        <!--End sidebar menu-->

        <div class="body-content content-wrapper" style="background-color: white">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/Scripts/jquery-1.11.1.js")
    @Scripts.Render("~/Scripts/jquery-ui/jquery-ui.min.js")

    @Scripts.Render("~/Content/bootstrap/dist/js/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery-knob/dist/jquery.knob.min.js")
    @Scripts.Render("~/Content/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
    @Scripts.Render("~/Content/jquery-slimscroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/Content/dist/js/adminlte.min.js")
    @*@Scripts.Render("~/Content/dist/js/pages/dashboard.js")
        @Scripts.Render("~/Content/dist/js/demo.js")*@



    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script>
        $('#myTable').on('click', '.clickable-row', function (event) {
            $(this).addClass('active').siblings().removeClass('active');
        });
    </script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
</body>
</html>
