@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "ManageICProductGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<style type="text/css">
    .DetailsRequired {
        font-size: 15px;
        color: red;
    }

    .bg {
        background-color: #ffffff;
        border: 1px solid #4d79ff;
    }

    #head {
        text-align: right;
    }

    tr {
        border-bottom: 1px solid #4d79ff;
    }

        tr:nth-child(even) {
            background-color: #e6eeff;
        }

    th {
        background-color: #3c8dbc;
    }

    a.my-class:link {
        color: #1a1a1a
    }

    a.my-class:visited {
        color: #1a1a1a
    }
</style>*@
<style type="text/css">
    .DetailsRequired {
        font-size: 15px;
        color: red;
    }

    .bg {
        background-color: lightgrey;
    }

    #head {
        text-align: right;
    }

    tr {
        border-bottom: 1px solid #4d79ff;
    }

        tr:nth-child(even) {
            background-color: #e6eeff;
        }

    th {
        background-color: #3c8dbc;
    }

    a.my-class:link {
        color: #1a1a1a
    }

    a.my-class:visited {
        color: #1a1a1a
    }
</style>

<div class="container-fluid">
    <h3>เพิ่ม/แก้ไข กลุ่มสินค้าและวัตถุดิบ</h3>

    <div class="table-responsive table-hover" id="ProductGroup">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("รหัสกลุ่มสินค้า", "ManageICProductGroup", new { sortOrder = ViewBag.grpcodeSortParm }, new { @class = "my-class" })
                    </th>
                    <th>
                        @Html.ActionLink("ชื่อกุล่มสินค้า", "ManageICProductGroup", new { sortOrder = ViewBag.grpname1SortParm }, new { @class = "my-class" })
                    </th>
                    <th>
                        @Html.ActionLink("ชื่อภาษา 2", "ManageICProductGroup", new { sortOrder = ViewBag.grpname2SortParm }, new { @class = "my-class" })
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var groupproduct in ViewBag.MyData)
                    {
                    <tr>
                        <td data-id="@groupproduct.bciid">
                            @groupproduct.grpcode
                        </td>
                        <td>
                            @groupproduct.grpname1
                        </td>
                        <td>
                            @groupproduct.grpname2
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
            <div style="text-align: center">@Html.PagedListPager((IPagedList)ViewBag.MyData, page => Url.Action("ManageICProductGroup", new { page, sortOrder = ViewBag.sortOrder }))</div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="bg">

            <div class="btn-group" style="float: right">
                <div class="btn-group" style="float: right">
                    <input type="button" value="ล้างข้อมูล" class="btn btn-primary btn-sm" id="Clear" />
                    <input type="button" value="บันทึก" class="btn btn-primary btn-sm" id="Save" />
                    <input type="button" value="ลบ" class="btn btn-primary btn-sm" id="Delete" />
                    <input type="submit" value="ค้นหา" class="btn btn-primary btn-sm" id="Find" />
                    <input type="submit" value="ดูตัวอย่าง" class="btn btn-primary btn-sm" id="Preview" />
                    <input type="submit" value="พิมพ์" class="btn btn-primary btn-sm" id="Print" />
                </div>
            </div>
            <br /><br /><br />

            <form action="" id="FormProductGroup">
                <div class="container-fluid">
                    <input type="hidden" name="gcusid" id="bciid" value="" />
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-2" id="head">รหัสกลุ่มสินค้า :  <font color="red">*</font></div>
                        <div class="col-md-4" id="head">
                            <input class="form-control" placeholder="รหัสกลุ่มสินค้า" name="grpcode" ID="grpcode" required/>
                        </div>
                    </div><br />

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-2" id="head">ชื่อภาษาไทย :  <font color="red">*</font></div>
                        <div class="col-md-4" id="head">
                            <input class="form-control" placeholder="ชื่อภาษาไทย" name="grpname1" ID="grpname1" required />
                        </div>
                    </div><br />

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-2" id="head">ชื่อภาษา 2  : </div>
                        <div class="col-md-4" id="head">
                            <input class="form-control" placeholder="ชื่อภาษา 2" name="grpname2" ID="grpname2" />
                        </div>
                    </div><br />
                    <br />
                </div>
            </form>
        </div>
    </div>
    <br />
    <br />

    @section scripts {

        @Scripts.Render("~/Scripts/Validate/jquery.validate.js")
        @Scripts.Render("~/Scripts/Validate/FormProductGroup.js")
        <script>
        $("div#ProductGroup table").delegate('tr', 'click', function () {
            var id = $(this).find("td:first").data("id");
            if (id != null) {
                $.ajax({
                    url: 'ShowTableProductGroup',
                    type: 'post',
                    data: {
                        'id': id

                    },
                    dataType: "json",
                    success: function (data) {
                        $('#bciid').val(data.bciid);
                        $('#grpcode').val(data.grpcode);
                        $('#grpname1').val(data.grpname1);
                        $('#grpname2').val(data.grpname2);
                    }
                });
            } else {
                $('#bciid').val("");
                $('#grpcode').val("");
                $('#grpname1').val("");
                $('#grpname2').val("");
            }
        })

        $("#Save").on('click', function () {
            if ($("#FormProductGroup").valid()) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveProductGroup", "ManageICProductGroup")',
                    data: JSON.stringify({
                        bciid: $("#bciid").val(),
                        grpcode: $("#grpcode").val(),
                        grpname1: $("#grpname1").val(),
                        grpname2: $("#grpname2").val(),
                        grpcountstock: "0",
                        ccode: "TBC",
                        //bcode: $('#bcode').val()
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    processData: false,
                    success: function (response) {
                        if (response == true){
                        alert("บันทึกสำเร็จ");
                        window.location.reload(true);
                        } else {
                            alert("รหัสกลุ่มสินค้าซ้ำ");
                        }
                    }
                })
            }
        });


        $("#Delete").click(function () {
            if ($("#FormProductGroup").valid()) {

                if (confirm('ยืนยันการลบ')) {
                    Delete();
                } else {
                    return false;
                }
            }
        });

        function Delete() {
            $.ajax({
                url: '@Url.Action("DeleteProductGroup", "ManageICProductGroup")',
                type: 'post',
                data: JSON.stringify({
                    bciid: $("#bciid").val()
                }),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                processData: false,
                success: function (data) {
                    if (data) {
                        window.location.reload(true);
                    }
                }
            });
        }

        $("#Clear").click(function () {

            $('#bciid').val("");
            $('#grpcode').val("");
            $('#grpname1').val("");
            $('#grpname2').val("");


        });


        </script>

    }